<% content_for(:title, "Edit") %>

<%= render 'lessons/navbar' %>
<section class="main-section">
		<div class="drk-bckgrnd">
			<div class="row top-div half-page">
				<h3>Update</h3>
				<%= render 'users/form' %>
			</div>
		</div>

		<div class="icon-container">
			<div class="small-1 small-centered columns">
				<p><a href="https://github.com/Bw00d"><%= image_tag "octocat-pinkface.png", id: "octocat-link", alt: "octocat-logo" %></a></p>
			</div>
		</div>
	</div>
</section>
		<!-- closing divs for offcanvas -->
	 </div>
</div>