<% content_for(:title, "Sign up") %>

<%= render 'shared/navbar' %>
<section class="main-section">
		<div class="drk-bckgrnd">
			<div class="row top-div half-page">
				<h3>Make an account</h3>
				<%= render 'users/form' %>
			</div>
		</div>
		<div class="bottom-div">
			<h3>All Users</h3>
				<ul>
					<% @users.each do |user|  %>
					<li><strong><%= link_to user.name , user_path(user.id) %></strong>  
						<% if user.author %>
						<span class="author">author</span></li>
						<% end %>
					<% end %>
				</ul>
		</div>

				<div class="icon-container">
					<div class="small-1 small-centered columns">
						<p><a href="https://github.com/Bw00d"><%= image_tag "octocat-pinkface.png", id: "octocat-link", alt: "octocat-logo" %></a></p>
					</div>
				</div>
	</div>
</section>
		<!-- closing divs for offcanvas -->
	 </div>
</div>