<div class="ace-block">
	<div id="editor" class="mousetrap"><%= @lesson.editable_code %></div>
</div>

<button id="editor-button" type="submit" class="">submit</button>
<button id="reset-button" type="reset" class="">reset</button>