<button id="notice-correct" type="reset" class="">
	Good job! Wasn't that easy?
</button>
<button id="could-improve" type="reset" class="">
	Not bad, but you could have done that in less actions.
</button>
<button id="alert-wrong" type="reset" class="">
	Oops, not quite. Try using the short cut to fix the code.
</button>