<div class="off-canvas-wrap" data-offcanvas>
  <div class="inner-wrap" data-no-turbolink>
    <nav class="tab-bar">
      <section class="left-small">
        <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
      </section>

      <section class="middle tab-bar-section">
        <h1 class="title"><%= link_to "Learn Sublime", root_path %></h1>
      </section>

      <section class="right-small">
        <a class="right-off-canvas-toggle menu-icon" href="#"><span></span></a>
      </section>
    </nav>

    <aside class="left-off-canvas-menu" data-no-turbolink>
      <ul class="off-canvas-list">
        <li><label>Lessons</label></li>
        <li><a href="#">Lesson one</a></li>
        <li><a href="#">Lesson two</a></li>
        <li><a href="#">Lesson three</a></li>
      </ul>
    </aside>

     <aside class="right-off-canvas-menu" data-no-turbolink>
      <ul class="off-canvas-list">
        <li><label>shortcuts</label></li>
        <li>move line up</li>
        <li>move line down</li>
        <li>add line up</li>
        <li>add line down</li>
        <li>indent</li>
        <li>unindent</li>
      </ul>
    </aside>
  </div>
</div>

