<h1>Create a new lesson</h1>

<form action="/lessons" method="post" id="new-lesson">
  <div class="form-group">
    <label for="name">Lesson name</label>
    <input type="text" class="form-control fifty-percent" name="name" placeholder="Enter lesson name">
  </div>
  <div class="form-group">
    <label for="number">Lesson number</label>
    <input type="text" class="form-control ten-percent" name="number" placeholder="Enter number">
  </div>
  <div class="form-group">
    <label for="chapter_id">Chapter id</label>
    <input type="text" class="form-control ten-percent" name="chapter_id" placeholder="Enter number">
  </div>
  <div class="form-group">
    <label for="content">Lesson Content</label>
    <textarea name="content" class="form-control" rows="3" placeholder="Compose..."></textarea>
  </div>
 
  <button type="submit" class="btn btn-default">Submit</button>
  <button href="/lessons/admin/edit" class="btn btn-default pull-right">Edit a lesson</button>

</form>