<%= content_for(:title, 'Edit lesson') %>
<%= render 'shared/navbar' %>
		<div class="light-blue">
			<div class="row top-div">
			  <h3>Edit lesson:</h3>
			</div>

			<div class='row bottom-space'>
			  <%= render 'layouts/errors', { object: @lesson } %>

			  <%= render 'form' %>
			</div>
		</div>
		<!-- closing divs for offcanvas -->
	</div>
</div>