<div class="main-page">
	<div class="row">
		<div class="large-12 columns main-title">
			<code class="orange">def</code>
			<code class="one-space">become_a_sublime_ninja</code><br>
			<code class="indent  white">puts </code> <code class="string">"Learn Sublime Text Shorcuts!"</code><br>
			<code class="orange">end</code>
		</div>
	</div>
	<div class="row">
		<div class="medium-4 columns"></div>
		<div class="medium-4 medium-centered columns start-button">
			<a href="lessons/"><button class="center">Get started</button></a>
		</div>
				<div class="medium-4 columns"></div>
	</div>
</div>
<div class="more-info">
	<div class="row">

		<h2>Sublime Keyboard Shortcuts</h2>
			<p></p>
	</div>
</div>
	