<h1><%= @lesson.name %></h1>
<ul class="menu nav nav-tabs">
  <li class="active" data-toggle="tab"><a href="#">Text</a></li>
  <li><a href="#" data-toggle="tab">Cheat sheet</a></li>
</ul>
<div id="lesson">
	<div class="tab-content" id="my-tab">
		  <div class="tab-pane fade in active" id="text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
		</div>
		  <div class="tab-pane fade" id="cheat-sheet">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
		</div>  
	</div>
</div>