<h1>Welcome</h1>
<ul class="menu nav nav-tabs">
  <li class="active" data-toggle="tab"><a href="#">Text</a></li>
  <li><a href="#" data-toggle="tab">Something else</a></li>
</ul>
<div id="lesson">
	<div class="tab-content" id="my-tab">
		  <div class="tab-pane fade in active" id="text">
		  	This page is going to change.  It is a little redundant.
		</div>  
	</div>
</div>
	