$blue: #6B97B2;
$green: #A5C259;
$orange: #C66427;
// body, html {
// 	height: 100%;
// }
body#lessons {
	background-color: #EDECE4 !important;
}
div.main {
	padding: 0 5% !important;
}
h1 {
	margin-bottom: .70em;
	color: #555555;
}

/* header */

/* off-canvas */
#user-info {
	li {
		color: $blue;
		list-style: none;
		padding-top: 15px;
	}
}

/*  body  */
.lesson {
	margin-top: 45px;
	min-height: 500px;
	border: 1px solid #DDDDDD;
	padding: 15px 50px;
	background-color: white;
	font-size: 1.3em;
	box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.5);
	h1 {
		text-align: center;
		color: black;
	}
	h3 {
		text-align: center;
		color: #C3C3C3;
		margin-top: -40px;
	}
}

.menu li {
	margin-bottom: 8px;
}

#new-lesson {
	border: solid 1px #DDDDDD;
	padding: 20px;
}

company {
	margin: 0 auto;
	text-align: center;
}
.main-page {
	/*width: 100%;*/
  min-height: 410px;
  display: relative;
	background-color: #2B2B2B;
	color: #E8BF66;
	padding-top: 8%;
	padding-bottom: 2%;
}
.main-title {
	background-color: #2B2B2B;
	font-size: 2.5em;
	padding-left: 5%;
}
.start-button {
	margin-top: 2%;
 	font-size: 1.5em;
	width: 500px;
	text-align: center;
	position: relative;
}
code {
	font-weight: normal;
	background-color: #2B2B2B;
	line-height: 1.3em;
}
.more-info {
	padding-top: 25px;
	font-size: 2em;
	background-color: #EDECE4;
	p {
		font-size: .8em;
		color: #2b2b2b;
	}
	a {
	color: #008cba;
	}
	a:hover {
		color: red;
		text-decoration: none;
	}
}
.test {
	background-color: red;
}
.button {
	font-size: .9em !important;
}
.content-field {
	height: 200px;
}
.editable-code-field {
	height: 200px;
}
.answer-field {
	height: 150px;
}
.content {
	margin-top: 20px;
}
.code-block {
	background-color: #232323;
	padding: 10px 20px;
	font-size: .8em;
}
#edit-code {
	// padding: 10px 20px;
	font-size: .8em;
	margin: 25px 0 0 0;
	height: 200px;
	width: 100%;
	textarea {
		padding: 10px 20px;
		font-size: 1em;
		width: 109.5%;
		background-color: #232323;
		margin: 0 0 0 -35px;
		height: 150px;
		color: white;
		border: none;
	}
}
#editable-form {
	input {
	height: 150px !important;
	}
}
.ace-block {
	padding:0;
	font-size: .8em;
	height: 100%;
	display: inline-block;
}
#editor {
	position: relative;
	font-size: .8em;
	padding-bottom: 5px;
	width: 100%;
	height: 200px;
	margin-bottom: 15px;
	line-height: 1.5em;
	overflow-x: hidden;
}
#editor2 {
	position: relative;
	font-size: .8em;
	padding-top: 0;
	padding-bottom: 5px;
	width: 100%;
	height: 230px;
	display: inline-block;
	margin-bottom: 15px;
	line-height: 1.5em;
	// overflow-x: hidden;
}
.tight-bottom {
	margin-bottom: -10px;
}


/*  footer  */
.footer {
	margin: 10px auto;
	text-align: center;
}
.navbar ul li {
	display: inline;
}
#footer {
	z-index: 5;
	height: 50px;
	border-top: 1px solid #DDDDDD;
	padding-top: 13px;
	font-size: 12px;
	background-color: #e1e1e1;
	border-top: solid 1px #878787;
	li {
		color: white;
		// display: inline;
	}
	a {
		color: #878787;
	}
}

#reset-button {
	display: none;
}
#reset-button2 {
	display: none;
}
#notice-correct {
	display: none;
	background-color: #00CC00;
}
#alert-wrong {
	display: none;
	background-color: #FF0000;
}
#notice-correct2 {
	display: none;
	background-color: #00CC00;
}
#alert-wrong2 {
	display: none;
	background-color: #FF0000;
}
#next {
	// margin-left: 40%;
	float: right;
}
.active {
	color: white;
	background-color: #FF66FF;
}
.inactive {
	background-color: #99FFFF;
	color: white;
}
.ace_text-layer {
	//margin: 0 0 0 25px !important;
}
.float-left {
	float:left;
}
.no-lesson {
	text-align: center;
	margin: 80px 0;
}
.top-bar.expanded .toggle-topbar a span {
-webkit-box-shadow: none;
box-shadow: none;
}
.bottom-div {
	height: 200px;

	width: 75%;
	margin: 0 auto;
}
body#users {
	background-color: $blue;
}
body#lessons {
	background-color: $blue;
}
body#sessions {
	background-color: $blue;
}
.icon-container {
	width: 75%;
	margin: 65px auto 50px auto;
}
.author {
	color: $orange;
}
/* footer */

#footer {

position: absolute;
bottom: 0;
width: 100%;
height: 10px; /* choose any height */
background-color: transparent;
border: none;
}

/* forms */

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}
.alert {
	color: red;
}
.user-change {
	font-size: .8em;
	a {
		color: green;
	}
	a:hover {
		color: red;
	}
}
