.center {
	margin: 0 auto;
	text-align: center
}
 /* width */
.fifty-percent {
	width: 50%;
}
.ten-percent {
	width: 10%;
}

/* margin, padding */
.indent {
	padding-left: 40px;
}
.one-space {
	margin-left: .5em;
}
