#editor-height {
	display: none;
}
#editor-height2 {
	display: none;
}
#line-number {
	display: none;
}
#line-number2 {
	display: none;
}
#answer-block {
	display: none;
	p {
		padding: 0;
	}
}
#answer-block2 {
	display: none;
	p {
		padding: 0;
	}
}
