
<div id="foot"class="navbar navbar-fixed-bottom">
	<div  class="container navbar-inner">
		<ul class="nav pull-right">
			<li><a href="#">Section Contents</a></li>
			<li><a href="/table-of-contents">Table of contents</a></li>
		</ul>
	</div>
</div>