
<div id="footer" class="bottom-bar">
	<div  class="row">
		<ul class="pull-right inline-list">
			<li><a href="#">Section Contents</a></li>

			<li><a href="/table-of-contents">Table of contents</a></li>
		</ul>
	</div>
</div>