
<div class="fixed">
	<nav class="top-bar fixed">
		<div class="row">
			<!-- <span class="float-left"><a class="left-off-canvas-toggle">Left Menu</a></span> -->
			<ul class="inline-list">
				<li class="text-center heading"><%= link_to "Learn Sublime", root_path %></li>
			  <li class="right right-links"><a href="#">Sign in</a></li>
			</ul>
		</div>			
	</nav>
</div>