<div id="header"class="navbar navbar-fixed-top">
	<div  class="container navbar-inner">
		<ul class="nav pull-left">
			<li>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
			</li>
		</ul>
		<ul class="nav text-center">
			<li class="title">Sublime Learning</li>
		</ul>
	</div>
</div>